p {
  text-indent: 30px;
  margin-bottom: 0;
}

img {
  width: 50%;
  
}

ul {
  margin-left: 20px;
}

@media (max-width: 576px) {
  /* body {background-color: red;}     */
  p{
    font-size: 25px;
  }
}